# Principales dependencias

In [1]:
import pandas as pd

# Creo un DataFrame para el ejemplo

In [2]:
df = pd.DataFrame({"X": [10,20,30,40,50],"y":[1,1,0,1,0]})

df.head()

    X  y
0  10  1
1  20  1
2  30  0
3  40  1
4  50  0

# DataFrame en base a ciertos criterios

## DataFrame de filas que y = 1

In [3]:
# crea un df con el formato del df que teniamos (el original)
#en aquellos casos en que la columna "y" del df es = 1
# se lo asignamos a la variable: "df_uno"
# Es decir quiero construir un dataframe con solo las columnas que tengan un uno.

# Aqui creo un nuevo dataframe con las mismas columnas y rows
# Pero en tenga una CONDICION para que solo tome las casillas que contengas un  1 en la columna "y"
df_uno = df[df["y"]==1]
df_uno

    X  y
0  10  1
1  20  1
3  40  1

In [4]:
# Tambien puedo obtener otra nomnclatura
# Sin embargo es preferible en anterior
df_uno_b = df[df.y==1]
df_uno_b

    X  y
0  10  1
1  20  1
3  40  1

In [6]:
# Ahora podemos probar obteniendo las columna que contengan un cero
df_cero_b = df[df.y==0]
df_cero_b

    X  y
2  30  0
4  50  0